@model IEnumerable<TrashCollectorProject.Models.Customer>

@{
    ViewData["Title"] = "FridayPickup";
}

<h1>Friday's Pickup</h1>

<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h3>Customer Map Locations</h3>
    <div id="map"></div>
    <script>
        function initMap() {
            var milwaukee = { lat: 43.1199, lng: -88.00907 };
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 4, center: milwaukee });
            var marker = new google.maps.Marker({ position: milwaukee, map: map });
        }
    </script>
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoiR59vNQIQHxeUTGkuT3HYazscxXsnAs&callback=initMap">
    </script>


<p><p>
    <a asp-action="MondayPickup">Monday</a>&nbsp;&nbsp;
    <a asp-action="TuesdayPickup">Tuesday</a>&nbsp;&nbsp;
    <a asp-action="WednesdayPickup">Wednesday</a>&nbsp;&nbsp;
    <a asp-action="ThursdayPickup">Thursday</a>&nbsp;&nbsp;
    <a asp-action="FridayPickup">Friday</a>&nbsp;&nbsp;
</p></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneTimePickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeeklyPickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isConfirmed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OneTimePickup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeeklyPickup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zipcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isConfirmed)
                </td>
                <td>
                    <a asp-action="ConfirmedPickup" asp-route-id="@item.Id">Confirm Pickup</a>&nbsp;&nbsp;
                </td>
            </tr>
        }
    </tbody>
</table>
</body>
